@import "tailwindcss";

@theme{
  --color-text-Primary:#0052AA;
  --color-text-secondary:#39557E;
  --color-button-pink:#CA6363;
  --color-border-grey:#E0E0E0;
}




::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f0f0f0;
}

